= simple_form_for CommentEntity.new, url: tweet_path(id: @view.tweet.id), method: :patch do |f|
  = f.input :comment, placeholder: "What's on your mind?", label: 'Create a comment'
  = f.button :submit