= render 'tweet_form'

%h2 All Tweets
- @tweets.each do |tweet|
  = link_to tweet_path(id: tweet.id) do
    .tweet-container
      %p.tweet
        = tweet.tweet
        %br
        = tweet.timestamp
